
<span class="horror sclr" style="float: left; font-size: 1.4em; font-weight: lighter">Functional</span><h3
        class="horror sclr" style="float: right; font-size: 1.4em; font-weight: lighter">Practical</h3>
<div style="clear: both;"></div>
<span class="horror pclr" style="font-size: 3em">Frontend Survival Guide</span>
<h3 class="horror sclr" style="font-size: 1.4em; font-weight: lighter">For backend engineers</h3>

<div class="grey" style="line-height: 50%">
    <small><span>Wojtek Pituła</span> @ Sony Electronics</small>
    <small>//</small>
    <small><a href="https://twitter.com/Krever01">@Krever01</a></small>
    <br>
    <small><a href="http://w.pitula.me/presentations">w.pitula.me/presentations</small>
</div>

----

## Why this talk?

++++

<div id="left" style="width: 10%">
    <span style="font-weight: bold;font-size: 1.5em; width: 10%">B<br>A<br>C<br>K<br>E<br>N<br>D</span>
</div>

<div id="right" style="width: 90%">
    <img src="img/monks.jpg" style="float: left; width: 90%">
</div>

++++

<div id="left" style="width: 90%; margin-top: 9%">
    <img src="img/junglewar1.jpeg">
</div>

<div id="right" style="width: 10%">
    <span style="font-weight: bold;font-size: 1.5em; width: 10%">F<br>R<br>O<br>N<br>T<br>E<br>N<br>D</span>
</div>

++++

<div id="left">
    <img src="img/dirty-hands.png" style="border: none">
</div>

<div>
    <h2><span style="letter-spacing: .15em;">But a man's gotta do what a man's gotta do</span></h2>
</div>


++++

### <span class="sclr horror" style="font-weight: lighter">Frontend</span> is <span class="pclr">different</span>

<code><pre>
class ShoppingList extends React.Component {
    render() {
        return (
            <div className="shopping-list">
                <h1>{this.props.name} - lista zakupów</h1>
                <ul>
                    <li>Instagram</li>
                    <li>WhatsApp</li>
                    <li>Oculus</li>
                </ul>
            </div>
        );
    }
}
</pre>
</code>

notes:
because we program view not the logic

++++

### <span class="sclr horror" style="font-weight: lighter">Frontend</span> is <span class="pclr">wild</span>

<table>
    <tr>
        <td style="vertical-align: middle">
            <ul>
                <li><code>if(array.length)</code></li>
                <li><code>"11" + 1 = "111"</code></li>
                <li><code>"11" - 1 = "10"</code></li>
            </ul>
        </td>
        <td>
            <img src="img/jstrinity.jpeg">
        </td>
    </tr>
</table>

++++

### <span class="sclr horror" style="font-weight: lighter">Frontend</span> is <span class="pclr">complicated</span>

<table style="font-size: 0.5em; box-shadow: inset 0px 0px 2px 2px grey;">
    <tr>
        <td>
            <ul>
                <li>languages
                    <ul>
                        <li>scalajs, reasonml, elm, purescript, typescript, kotlinjs</li>
                        <li>javascrips, clojurescript, coffee script</li>
                        <li>webassembly, rust, scala-native</li>
                    </ul>
                </li>
                <li>frameworks
                    <ul>
                        <li>react, angular, vue
                            <ul>
                                <li>scalajs-react, slinky</li>
                            </ul>
                        </li>
                        <li>laminar, binding.scala</li>
                        <li>udash, korolev</li>
                        <li>state managament - redux, mobx, react-refetch, diode</li>
                    </ul>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li>styling
                    <ul>
                        <li>semantic, bootstrap, min.css, foundation</li>
                        <li>less, sass, css, stylus</li>
                        <li>rwd</li>
                        <li>css-grid</li>
                    </ul>
                </li>
                <li>communication
                    <ul>
                        <li>graphql</li>
                        <li>tapir/endpoints</li>
                        <li>grpc</li>
                        <li>websockets</li>
                    </ul>
                </li>
                <li>tools
                    <ul>
                        <li>npm, node, yarn</li>
                        <li>webpack, rollup</li>
                        <li>scalajs-bundler, sbt-web</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
</table>

++++

#### <span class="sclr">This talk</span> is <span class="pclr">not a tutorial</span>

<h1 class="fragment"><span class="sclr">It is a</span> <span class="pclr">survival guide</span></h1>

++++

What does it mean?

<h3 class="fragment">It <span class="pclr">Won't</span> tell you how to do stuff</h3>
<h3 class="fragment">It <span class="pclr">will</span> tell you what to expect</h3>


----

Why <span class="pclr">me</span> doing <span class="pclr">this</span> talk?

++++

<ul>
    <li class="fragment" data-fragment-index="1"><span class="pclr">July 2013</span> - Java EE
        <ul>
            <li class="fragment" data-fragment-index="5">jquery, JSP, JSF</li>
        </ul>
    </li>
    <li class="fragment" data-fragment-index="2"><span class="pclr">Feb 2015</span> - R&D + Big Data
        <ul>
            <li class="fragment" data-fragment-index="6">first SPA - angular 2 beta</li>
            <li class="fragment" data-fragment-index="7">2x startup idea</li>
        </ul>
    </li>
    <li class="fragment" data-fragment-index="3"><span class="pclr">Feb 2017</span> - Big Data + Microservices
        <ul class="fragment" data-fragment-index="8">
            <li>vanilla js prototyping</li>
        </ul>
    </li>
    <li class="fragment" data-fragment-index="4"><span class="pclr">Feb 2018</span> - Microservices + Automation
        <ul>
            <li class="fragment" data-fragment-index="9">huge fronted - TS, react and more</li>
            <li class="fragment" data-fragment-index="9">another startup idea</li>
        </ul>
    </li>
</ul>

++++

Am I <span class="pclr">cursed</span>?
<br>
Or is frontend <span class="pclr">inevitible</span>?

----

<ul class="grey" style="font-size: .5em; float: left">
    <li class="pclr">Language</li>
    <li>Framework</li>
    <li>Styling</li>
    <li>Communication</li>
    <li>Tooling</li>
    <li>What else?</li>
</ul>

# Language

++++

<table style="font-size: 0.8em">
    <tr class="pclr">
        <th>Language</th>
        <th>Functional</th>
        <th>Typed</th>
        <th>Popular</th>
    </tr>
    <tr>
        <td>Javascript</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="2">No</td>
        <td>No</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="1">YES</td>
    </tr>
    <tr>
        <td>Typescript</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="2">No</td>
        <td class="green">Yes</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="1">Yes</td>
    </tr>
    <tr>
        <td>Scala.js</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="5">Yes</td>
        <td class="green">Yes</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="4">Kind of</td>
    </tr>
    <tr>
        <td>ReasonML</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="5">Yes</td>
        <td class="green">Yes</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="3">A bit</td>
    </tr>
    <tr>
        <td>Elm</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="5">Yes</td>
        <td class="green">Yes</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="3">A bit</td>
    </tr>
    <tr>
        <td>Purescript</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="5">Yes</td>
        <td class="green">Yes</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="3">A bit</td>
    </tr>
    <tr>
        <td>Fable</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="5">Yes</td>
        <td class="green">Yes</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="3">A bit</td>
    </tr>
    <tr>
        <td>Clojurescript</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="5">Yes</td>
        <td>No</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="3">A bit</td>
    </tr>
    <tr>
        <td>Kotlin for JS</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="6">Kind of</td>
        <td class="green">Yes</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="3">A bit</td>
    </tr>
    <tr>
        <td>Coffeescript</td>
        <td>No</td>
        <td>No</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="7">Dead</td>
    </tr>
</table>

++++

<table style="font-size: 0.8em">
    <tr class="pclr">
        <th>Language</th>
        <th>Functional</th>
        <th>Typed</th>
        <th>Popular</th>
    </tr>
    <tr>
        <td>Javascript</td>
        <td>No</td>
        <td>No</td>
        <td class="green">YES</td>
    </tr>
    <tr class="rev-sclr">
        <td>Typescript</td>
        <td>No</td>
        <td class="green">Yes</td>
        <td class="green">Yes</td>
    </tr>
    <tr class="rev-sclr">
        <td>Scala.js</td>
        <td class="green">Yes</td>
        <td class="green">Yes</td>
        <td class="yellow">Kind of</td>
    </tr>
    <tr class="rev-sclr">
        <td>ReasonML</td>
        <td class="green">Yes</td>
        <td class="green">Yes</td>
        <td>A bit</td>
    </tr>
    <tr class="rev-sclr">
        <td>Elm</td>
        <td class="green">Yes</td>
        <td class="green">Yes</td>
        <td>A bit</td>
    </tr>
    <tr class="rev-sclr">
        <td>Purescript</td>
        <td class="green">Yes</td>
        <td class="green">Yes</td>
        <td>A bit</td>
    </tr>
    <tr>
        <td>Kotlin for JS</td>
        <td class="yellow">Kind of</td>
        <td class="green">Yes</td>
        <td>A bit</td>
    </tr>
    <tr>
        <td>Clojurescript</td>
        <td class="green">Yes</td>
        <td>No</td>
        <td>A bit</td>
    </tr>
    <tr>
        <td>Coffeescript</td>
        <td>No</td>
        <td>No</td>
        <td>Dead</td>
    </tr>
</table>

++++

<h2 class="pclr">Typescript</h2>

<ul>
    <li class="fragment">created by Microsoft</li>
    <li class="fragment">default for most new frontend libs (!)</li>
    <li class="fragment">powerful ☺ but unsound ☹ type system</li>
    <li class="fragment">structural types ☺☹</li>
    <li class="fragment">FP is possible but hard and not idiomatic</li>
    <li class="fragment">most popular typed fronted language</li>
    <li class="fragment">bindings still dont work</li>
</ul>

++++

<h2 class="pclr">ReasonML</h2>

* created at Facebook
* ocaml base & ecosystem

++++

<h2 class="pclr">Elm</h2>

<ul>
    <li class="fragment">Created by Evan Czaplicki</li>
    <li class="fragment">opinionated</li>
    <li class="fragment">built-in redux model</li>
    <li class="fragment">strongly separated from JS</li>
    <li class="fragment">reduced haskell (no typeclasses)</li>
    <li class="fragment">good tooling</li>
</ul>

++++

<h2 class="pclr">Purescript</h2>

* closest to Haskell
* hard time competing with Elm

++++

<h2 class="pclr">Fable</h2>

* F# for web


++++

<h2 class="pclr">Scala.js</h2>

* scala ecosystem
* hardly approachable for js devs

++++

<span style="font-size: 1.5em">So what's wrong with <span class="pclr">TypeScript</span>?</span>

++++

<span style="font-size: 0.7em">So what's wrong with <span class="pclr">TypeScript</span>?</span>

It's too easy to lie and too hard to enforce the truth

<pre style="display: inline-block; width: unset"><code data-trim data-noescape class="typescript">
const fetchNotes = () => {
    fetch(request) <mark>as Note[]</mark>
}
</code></pre>

So people will just make assumptions and hope for the best

++++

<span style="font-size: 0.7em">So what's wrong with <span class="pclr">TypeScript</span>?</span>

Also:

<ul style="font-size: 0.8em">
    <li>JS Bindings</li>
    <li>JS Runtime</li>
    <li>JS Compatibility, e.g:
        <ul>
            <li>No pattern matching</li>
            <li>Statement based</li>
        </ul>
    </li>
</ul>

Other than that, <span class="pclr">it's really nice language</span>

++++

<span style="font-size: 1.5em">How about <span class="pclr">WebAssembly</span>?</span>

++++

<span style="font-size: 0.7em">How about <span class="pclr">WebAssembly</span>?</span>

* not for general-purpose web
* closer to scala-native, rust and other native languages

----

<ul class="grey" style="font-size: .5em; float: left">
    <li>Language</li>
    <li class="pclr">Framework</li>
    <li>Styling</li>
    <li>Communication</li>
    <li>Tooling</li>
    <li>What else?</li>
</ul>

<h1 style="font-size:2.3em">Framework</h1>

++++

<small style="line-height: 0.5em"><h4>Framework:</h4></small>
<h2 class="pclr">Classics</h2>

<table style="font-size: 1.2em">
    <tr>
        <td>React</td>
        <td>Angular</td>
        <td>Vue</td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Framework: Classics</h4></small>
<h2 class="pclr">React</h2>

<table>
    <tr>
        <td style="font-size: 0.7em">
           <pre><code>
class ShoppingList extends React.Component {
  render() {
    return (
      <div className="shopping-list">
        <h1>{this.props.name} - shooping list</h1>
        <ul>
          <li>Instagram</li>
          <li>WhatsApp</li>
          <li>Oculus</li>
        </ul>
      </div>
    );
  }
}
           </code></pre>
        </td>
        <td style="vertical-align: middle">
            <ul>
                <li>most popular</li>
                <li>do-it-yourselft</li>
            </ul>
        </td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Framework: Classics</h4></small>
<h2 class="pclr">Angular</h2>

<table>
    <tr>
        <td style="font-size: 0.5em">
           <pre><code>
@Component({
  selector:    'app-hero-list',
  templateUrl: './hero-list.component.html',
  providers:  [ HeroService ]
})
export class HeroListComponent implements OnInit {
  heroes: Hero[];
  selectedHero: Hero;
  constructor(private service: HeroService) { }
  ngOnInit() {
    this.heroes = this.service.getHeroes();
  }
  selectHero(hero: Hero) { this.selectedHero = hero; }
}
           </code></pre>
            <pre><code>
<h2>Hero List</h2>
<p><i>Pick a hero from the list</i></p>
<ul>
  <li *ngFor="let hero of heroes" (click)="selectHero(hero)">
    {{hero.name}}
  </li>
</ul>

<app-hero-detail *ngIf="selectedHero" [hero]="selectedHero"></app-hero-detail>
           </code></pre>
        </td>
        <td style="vertical-align: middle">
            <ul>
                <li>proper framework</li>
                <li>JavaEE for frontend</li>
            </ul>
        </td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Framework: Classics</h4></small>
<h2 class="pclr">Vue.js</h2>

<table>
    <tr>
        <td style="font-size: 0.5em">
           <pre><code>
<div id="editor">
  <textarea :value="input" @input="update"></textarea>
  <div v-html="compiledMarkdown"></div>
</div>
           </code></pre>
            <pre><code>
new Vue({
  el: '#editor',
  data: {
    input: '# hello'
  },
  computed: {
    compiledMarkdown: function () {
      return marked(this.input, { sanitize: true })
    }
  },
  methods: {
    update: _.debounce(function (e) {
      this.input = e.target.value
    }, 300)
  }
})
           </code></pre>
        </td>
        <td style="vertical-align: middle; width: 40%">
            <ul>
                <li>youngest</li>
                <li>tries to merge the best parts</li>
                <li>tries to be super accesible at the cost of magic</li>
            </ul>
        </td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Framework:</h4></small>
<h2 class="pclr">Scala.js bindings</h2>

<table style="font-size: 1.2em">
    <tr>
        <td style="text-align: center">
            <span class="sclr">scalajs-react</span>
            <ul style="font-size: 0.8em" class="fragment">
                <li>plain scala</li>
                <li>well-seasoned</li>
            </ul>
        </td>
        <td style="text-align: center">
            <span class="sclr">slinky</span>
            <ul style="font-size: 0.8em" class="fragment">
                <li>macros</li>
                <li>new and fancy</li>
            </ul>
        </td>
    </tr>
</table>

<small>No angular or vue ☹</small>
<br>
<small style="color: grey">At least nothing active, popular and not generated from ts</small>

++++


<span style="font-size: 0.7em">Framework: <span class="pclr">Scala.js bindings</span></span>

## JS bindings can fail you

Always

++++

<span style="font-size: 0.7em">Framework: <span class="pclr">Scala.js bindings</span></span>

### JS bindings can be generated from TS

<h4><a href="https://github.com/oyvindberg/ScalablyTyped">ScalablyTyped</a></h4>
<small>
    <a href="https://github.com/sjrd/scala-js-ts-importer">scala-js-ts-importer</a>
    <br>
    <a href="https://definitelyscala.com/">Definitely Scala</a>
</small>

++++

<small style="line-height: 0.5em"><h4>Framework:</h4></small>
<h2 class="pclr">Scala.js natives</h2>

<table style="font-size: 1.2em">
    <tr>
        <td style="text-align: center">
            <span class="sclr">Binding.scala</span>
            <ul style="font-size: 0.8em" class="fragment">
                <li>no vdom</li>
                <li>macros</li>
            </ul>
        </td>
        <td style="text-align: center">
            <span class="sclr">Outwatch</span>
            <ul style="font-size: 0.8em" class="fragment">
                <li>vdom</li>
                <li>plain scala</li>
            </ul>
        </td>
        <td style="text-align: center">
            <span class="sclr">Laminar</span>
            <ul style="font-size: 0.8em" class="fragment">
                <li>similar to Binding.scala</li>
                <li>different tradeoffs</li>
                <li>my favourite</li>
            </ul>
        </td>
    </tr>
</table>

<small>Bus factor is there ☹</small>

++++

<small style="line-height: 0.5em"><h4>Framework:</h4></small>
<h2 class="pclr">Something different?</h2>

<table style="font-size: 1.2em">
    <tr>
        <td class="fragment rev-sclr-fr">Udash</td>
        <td class="fragment rev-sclr-fr">Korolev</td>
        <td class="fragment rev-sclr-fr">Play</td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Framework:</h4></small>
<h2>Appendix 1: <span class="pclr">State management</span></h2>

<table style="font-size: 1.2em">
    <tr>
        <td style="text-align: center">
            <span class="sclr">redux</span>
            <ul style="font-size: 0.8em" class="fragment">
                <li>boilerplate factory</li>
            </ul>
        </td>
        <td style="text-align: center">
            <span class="sclr">diode</span>
            <ul style="font-size: 0.8em" class="fragment">
                <li>scala-native</li>
            </ul>
        </td>
        <td style="text-align: center">
            <span class="sclr">react-refetch</span>
            <ul style="font-size: 0.8em" class="fragment">
                <li>super-simple</li>
            </ul>
        </td>
    </tr>
</table>

<small>There is more: <span class="pclr">mobx, redux-observable, redux-saga, react hooks</span></small>


++++

<small style="line-height: 0.5em"><h4>Framework: Appendix 1: <span class="pclr">State management</span></h4></small>

## <span class="pclr">React hooks</span> are awesome

----

<ul class="grey" style="font-size: .5em; float: left">
    <li>Language</li>
    <li>Framework</li>
    <li class="pclr">Styling</li>
    <li>Communication</li>
    <li>Tooling</li>
    <li>What else?</li>
</ul>

# Styling

++++

### If I was to create UI

<img src="img/bad-interface.png"/>

++++

<small style="line-height: 0.5em"><h4>Styling:</h4></small>
<h2 class="pclr">css Preprocessors</h2>
Because raw <span class="pclr">CSS</span> is <span class="pclr">dead</span>

<code>.scss</code> → <code style="border: solid">sass processor</code> → <code>.css</code>


++++

<h4>Styling: <span class="pclr">CSS Preprocessors</span></h4>

<table style="font-size: 1.1em">
    <tr>
        <td style="font-size: 0.7em">
            <span class="pclr">Features:</span><br>
            <ul>
                <li>variables</li>
                <li>imports</li>
                <li>functions(a.k.a @mixins)</li>
                <li>inheritance</li>
                <li>loops</li>
                <li>nesting</li>
            </ul>
        </td>
        <td style="width: 40%; vertical-align: top">
            <span class="pclr">Examples:</span><br>
            <ul>
                <li>less</li>
                <li>sass</li>
                <li>stylus</li>
            </ul>
        </td>
    </tr>
</table>

++++

<h4>Styling: <span class="pclr">CSS Preprocessors</span></h4>
<h3>Example</h3>
<small>Input:</small>
<pre><code style="font-size: 1em">@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
.box { @include transform(rotate(30deg)); }
</code></pre>
<small>Output:</small>
<pre><code style="font-size: 1em">.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
</code></pre>

<!--<table width="100%">-->
<!--    <tr>-->
<!--        <td style="width: 45%">-->
<!--            <pre><code style="font-size: 1em">-->
<!--@mixin transform($property) {-->
<!--  -webkit-transform: $property;-->
<!--  -ms-transform: $property;-->
<!--  transform: $property;-->
<!--}-->
<!--.box { @include transform(rotate(30deg)); }-->
<!--            </code></pre>-->
<!--        </td>-->
<!--        <td>→</td>-->
<!--        <td style="width: 45%">-->
<!--                        <pre><code style="font-size: 1em">-->
<!--.box {-->
<!--  -webkit-transform: rotate(30deg);-->
<!--  -ms-transform: rotate(30deg);-->
<!--  transform: rotate(30deg);-->
<!--}-->
<!--            </code></pre>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

++++


<small style="line-height: 0.5em"><h4>Styling:</h4></small>
<h2 class="pclr">UI toolkits</h2>

classes → &#x2728;&#x2728;&#x2728;

++++

<h4>Styling: <span class="pclr">UI toolkits</span></h4>

<table style="font-size: 1.1em">
    <tr>
        <td class="fragment rev-sclr-fr" data-fragment-index="1">Semantic</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="2">mini.css</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="3">Bootstrap</td>
        <td class="fragment rev-sclr-fr" data-fragment-index="4">Foundation</td>
    </tr>
</table>

<div style="position:relative; height:480px; margin:0 auto;">
    <img class="fragment" data-fragment-index="1" src="img/semantic.png" style="position:absolute;top:0;left:0;"/>
    <img class="fragment" data-fragment-index="2" src="img/minicss.png" style="position:absolute;top:0;left:0;"/>
    <img class="fragment" data-fragment-index="3" src="img/bootstrap.png" style="position:absolute;top:0;left:0;"/>
    <img class="fragment" data-fragment-index="4" src="img/foundation.png" style="position:absolute;top:0;left:0;"/>
</div>

++++


<small style="line-height: 0.5em"><h4>Styling:</h4></small>
<h2>Appendix 2: <span style="font-weight: bold"><span class="pclr">R</span>esponsive <span class="pclr">W</span>eb <span
        class="pclr">D</span>esign</span></h2>

<img src="img/rwd.gif">

<small>Or simply: Adjust your layout to the screen size</small>

----

<ul class="grey" style="font-size: .5em; float: left">
    <li>Language</li>
    <li>Framework</li>
    <li>Styling</li>
    <li class="pclr">Communication</li>
    <li>Tooling</li>
    <li>What else?</li>
</ul>

## Communication

++++

<small style="line-height: 0.5em"><h4>Communication:</h4></small>
## Good old <span class="pclr">rest</span>

<table style="">
    <tr>
        <td width="50%">
            <ul>
                <li>HTTP</li>
                <li>Proper method</li>
                <li>/user/{id}/cats</li>
                <li>json</li>
            </ul>
        </td>
        <td>
            <ul style="font-size: 0.8em">
                <li>Very well known</li>
                <li>Established standard</li>
                <li>Not so efficient</li>
                <li>Not so convenient for frontend</li>
            </ul>
        </td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Communication:</h4></small>
## <span class="pclr">Graphql</span>


* convenient for the fronted
* not so much for the backend
* nice code generation
* a lot of tooling
* live subscriptions OOTB

++++

<small style="line-height: 0.5em"><h4>Communication: <span class="pclr">Graphql</span></h4></small>

## How does it work?

* Servers exposes <span class="pclr">schema</span> (types, operations)
* Client codebase contains <span class="pclr">queries</span>
* Code can be generated based on <span class="pclr">queries</span> and <span class="pclr">schema</span>

++++

<small style="line-height: 0.5em"><h4>Communication: <span class="pclr">Graphql</span></h4></small>

## In Scala?

* <span class="pclr">Sangria</span> - Seasoned, future-based
* <span class="pclr">Caliban</span> - New and shiny, ZIO-based, published for scala.js(!), server-only for now

<small>I recommend Caliban, because, you know, FP!</small>

++++

<small style="line-height: 0.5em"><h4>Communication: <span class="pclr">Graphql</span></h4></small>

### Or maybe <span class="pclr">no backend</span> at all?

With tools like <a href="https://www.prisma.io">Prisma</a>, <a href="https://www.graphile.org/postgraphile/">PostGraphile</a>
and <a href="https://hasura.io/">Hasura</a> you can expose big part of
the <br>
<span style="font-weight: bold">API directly from the DB.</span>


++++

<small style="line-height: 0.5em"><h4>Communication:</h4></small>
## <span class="pclr">RPC</span>

<small>Remote Procedure Call</small>

<table style="font-size: 1.1em">
    <tr>
        <td style="font-size: 0.7em">
            <span class="pclr">Features:</span><br>
            <ul>
                <li>easily shared between fronted and backend</li>
                <li>convenient for the backend</li>
                <li>problematic on the fronted</li>
                <li>usually requires single language</li>
            </ul>
        </td>
        <td style="width: 40%; vertical-align: top">
            <span class="pclr">Examples:</span><br>
            <ul>
                <li class="fragment rev-sclr-fr">grpc-web</li>
                <li class="fragment rev-sclr-fr">autowire</li>
                <li class="fragment rev-sclr-fr">udash</li>
            </ul>
        </td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Communication:</h4></small>
## <span class="pclr">Shared</span> REST

<table style="font-size: 1.1em">
    <tr>
        <td style="font-size: 0.7em">
            <span class="pclr">Features:</span><br>
            <ul>
                <li>easily shared between fronted and backend if both are written in Scala</li>
                <li>requires the same stack on both sides</li>
                <li>all the benefits and problems of REST</li>
            </ul>
        </td>
        <td style="width: 40%; vertical-align: top">
            <span class="pclr">Examples:</span><br>
            <ul>
                <li class="fragment rev-sclr-fr">endpoints</li>
                <li class="fragment rev-sclr-fr">tapir</li>
                <li class="fragment rev-sclr-fr">typedapi</li>
            </ul>
        </td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Communication:</h4></small>
## <span class="pclr">Websockets</span> & <span class="pclr">SSE</span>

<table style="font-size: 1.1em">
    <tr>
        <td style="font-size: 0.7em">
            <span class="pclr">Websockets:</span><br>
            <ul>
                <li class="fragment">on top of raw TCP</li>
                <li class="fragment">distinct from HTTP</li>
                <li class="fragment">bidirectional</li>
                <li class="fragment">binary</li>
            </ul>
        </td>
        <td style="font-size: 0.7em">
            <span class="pclr">Server-sent events:</span><br>
            <ul>
                <li class="fragment">raw HTTP</li>
                <li class="fragment">part of HTML5</li>
                <li class="fragment">one direction</li>
                <li class="fragment">text</li>
                <li class="fragment">with browser limits</li>
            </ul>
        </td>
    </tr>
</table>

<span class="fragment">Most of the time <span class="pclr">SSE</span> is enough</span>


----

<ul class="grey" style="font-size: .5em; float: left">
    <li>Language</li>
    <li>Framework</li>
    <li>Styling</li>
    <li>Communication</li>
    <li class="pclr">Tooling</li>
    <li>What else?</li>
</ul>

# Tooling

++++


<small style="line-height: 0.5em"><h4>Tooling:</h4></small>
<h2 class="pclr">Essentials</h2>

NPM & Yarn

<small>To get your libraries from internetz</small>

++++

<img src="img/npm-traffic.png">


++++

<img src="img/heaviest-npm.png" height="80%">

++++

<img src="img/npm-thor.jpg" height="80%">

notes:
I could go like that for the rest of the day

++++

<small style="line-height: 0.5em"><h4>Tooling:</h4></small>
## <span class="pclr">NPM</span> & <span class="pclr">Yarn</span>

<table style="font-size: 1.1em">
    <tr>
        <td style="font-size: 0.7em; text-align: center">
            <span class="pclr" style="text-align: center">NPM</span><br>
            <ul>
                <li class="fragment">orignal, true and only</li>
                <li class="fragment">used to be slow</li>
                <li class="fragment">now almost on par with yarn</li>
            </ul>
        </td>
        <td style="font-size: 0.7em; text-align: center">
            <span class="pclr">Yarn</span><br>
            <ul>
                <li class="fragment">npm drop-in replacement</li>
                <li class="fragment">created by facebook</li>
                <li class="fragment">originally created for:
                <ul>
                    <li class="fragment">better performance</li>
                    <li class="fragment">lock-files</li>
                </ul>
                </li>
            </ul>
        </td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Tooling:</h4></small>
## <span class="pclr">Bundling</span>

Webpack & friends

++++

<small style="line-height: 0.5em"><h4>Tooling:</h4></small>
## <span class="pclr">Bundling</span>

<table style="font-size: 1.1em">
    <tr>
        <td style="font-size: 0.7em; width: 50%">
            <ul>
                <li class="fragment pclr-fr" data-fragment-index="1">scan roots for `import`/`require`</li>
                <li class="fragment pclr-fr" data-fragment-index="2">transform</li>
                <li class="fragment pclr-fr" data-fragment-index="3">join together</li>
                <li class="fragment pclr-fr" data-fragment-index="4">produce a package</li>
            </ul>
        </td>
        <td style="font-size: 0.7em; width: 50%; border: solid; height: 400px">
            <div style="position:relative; margin:0 auto;">
                <div class="fragment current-visible" data-fragment-index="1" style="position:absolute;top:0;left:0;">
                    <code style="font-size: 0.7em">
                        import { StringValidator } from "./StringValidator";
                    </code>
                    <br>
                    <br>
                    <code style="font-size: 0.7em">
                        import s from './Button.css';
                    </code>
                </div>
                <div class="fragment current-visible" data-fragment-index="2" style="position:absolute;top:0;left:0;">
                    <ul>
                        <li>.ts → .js</li>
                        <li>.sass → .css</li>
                        <li>.jpg → base64</li>
                        <li>.js → .js</li>
                        <li>any → any</li>
                    </ul>
                </div>
                <div class="fragment current-visible" data-fragment-index="3" style="position:absolute;top:0;left:0;">
                    <img src="img/blender.gif">
                </div>
                <div class="fragment current-visible" data-fragment-index="4" style="position:absolute;top:0;left:0;">
                    <ul>
                        <li>bundle.css</li>
                        <li>bundle.js</li>
                        <li>bundle-deps.js</li>
                        <li>assets</li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
</table>

++++


<small style="line-height: 0.5em"><h4>Tooling:</h4></small>
## Bundling <span class="pclr">in JS & TS</span>

<table style="font-size: 1.5em">
    <tr>
        <td style="font-size: 0.7em; width: 50%">
            Webpack
        </td>
        <td style="font-size: 0.7em; width: 50%; text-align: right">
            Rollup
        </td>
    </tr>
</table>

++++

<small style="line-height: 0.5em"><h4>Tooling:</h4></small>
## Bundling <span class="pclr">in scala.js</span>

sbt-web & scalajs-bundler

++++

<small style="line-height: 0.5em"><h4>Tooling: Bundling <span class="pclr">in scala.js</span></h4></small>

## <span class="pclr">sbt-web</span>

<ul>
    <li class="fragment">webpack-like pipeline infrastructure</li>
    <li class="fragment">designed for use in backend (play) apps</li>
    <li class="fragment">ecosystem of plugins, e.g. sbt-sass, sbt-gzip</li>
</ul>

++++

<small style="line-height: 0.5em"><h4>Tooling: Bundling <span class="pclr">in scala.js</span></h4></small>

## <span class="pclr">scalajs-bundler</span>

<ul>
    <li class="fragment">wrapper around webpack & npm</li>
    <li class="fragment">designed for frontend</li>
    <li class="fragment">webjars are a partial alternative</li>
</ul>

----

<ul class="grey" style="font-size: .5em; float: left">
    <li>Language</li>
    <li>Framework</li>
    <li>Styling</li>
    <li>Communication</li>
    <li>Tooling</li>
    <li class="pclr">What else?</li>
</ul>

# What else?

++++

<small style="line-height: 0.5em"><h4>What else?</h4></small>
# <span class="pclr">Node</span>

So you can backend when you frontend

++++

<small style="line-height: 0.5em"><h4>What else?</h4></small>
# <span class="pclr">Electron</span>

Alternative to mining bitcoins

++++

<small style="line-height: 0.5em"><h4>What else?</h4></small>
# <span class="pclr">Editor</span>

VS Code vs Intellij

++++

<small style="line-height: 0.5em"><h4>What else?</h4></small>
# <span class="pclr">Bootzooka</span>

<a href="https://github.com/softwaremill/bootzooka">by Softwaremill</a>

----

<!-- -- data-background-color="#851e3e" -->

# Recap

++++

<!-- -- data-background-color="#851e3e" -->

#### Whatever language you choose
# beware of JS bindings

++++


<!-- -- data-background-color="#851e3e" -->

#### React - do it yourself lib
#### Angular - backendish framework
#### Scala.js native libs - viable option

++++

<!-- -- data-background-color="#851e3e" -->

## There are libs to make stuff pretty

++++

<!-- -- data-background-color="#851e3e" -->

# Graphql
## is a thing

++++

<!-- -- data-background-color="#851e3e" -->

## Npm and webpack are
# inevitable

----

## Thanks!

Wojtek Pituła - [@Krever01](https://twitter.com/Krever01)

<div>
    [w.pitula.me/presentations](http://w.pitula.me/presentations/scalar-2018/index.html)
    <br>
    <small>You can leave feedback there ^</small>
</div>



notes:
todo:
* react with func component
* state mngmt with apollo and relay
* "styled components" <- sprawdzic/dodac
* ui toolkits - ant design <- sprawdzic/dodac
* fp-ts, fantasy-land
* alternative intro images